<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Product</title>
</head>

<body>
    <header>
    <div class="container">
            <a href="/homepage"><img src="logo.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/sanpham">Product</a></li>
                    <li><a href="/nhanvien">Employee</a></li>
                    <li><a href="/index/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="btn">
        <a href="/sanpham/search"><input type="button" value="Search Product"></a>
        <a href="/sanpham/insert"><input type="button" value="New Product"></a>
    </div>

    <table class="content-table" width="50%" border="1">
        <thead>
        <tr>
            <td>Product Name</td>
            <td>Origin</td>
            <td>Price</td>
            <td>Status</td>
            <td>Image</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        {{# each sanPham}}
        <tr>
            <td>{{ProductName}}</td>
            <td>{{[Origin]}}</td>
            <td>{{Price}}</td>
            <td>{{Status}}</td>
            <td><img src='../homepage/photo/{{_id}}' alt="" width="180px" height="150px" style="margin-left: 75px;margin-top:-40px"></td>
            <td><a href="/sanpham/edit?id={{_id}}">Edit</a>
            </td>
        </tr>  
        {{/each}}
        </tbody>
    </table>
</body>
</html>